<div class="toolbar" role="banner">
  <!-- left side of header -->
  <div class="left-side">
    <mat-icon class="expandBtn" matTooltip="Options" (click)="handleClick()">
      menu
    </mat-icon>
    <span>APP LOGO</span>
  </div>

  <!-- Right side of header -->
  <div class="right-side">
    <div class="menu-bars">
      <a href="#">
        <mat-icon matTooltip="Settings">settings</mat-icon>
      </a>
      <a href="#">
        <mat-icon matTooltip="Help">help_outline</mat-icon>
      </a>
    </div>
    <div>
      <a href="#">
        <mat-icon matTooltip="My Account">account_circle</mat-icon>
      </a>
    </div>
  </div>
</div>
