.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 16px;

  form {
    overflow-y: auto;
  }

  mat-form-field {
    font-size: 12px !important;
    width: 100%;

    input {
        height: 20px !important;
    }
  }

  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
}
